body
{
	height: 125vh;
	margin top: 80px;
	padding: 30px;
	background size: cover;
	font family: sans serif;
}
header{
	/*display: block;*/
	background colour: orange;
	position: fixed;
	left: 0;
	right: 0;
	top: 5px;
	height: 30px;
	display: flex;
	align center: center;
	box shadow: 0 0 25px 0 black;
}
header*{
	display: inline;
}
header li{
	margin: 20px;
}
header li a{
	colour: blue;
	text decoration: none;
}